/*webkit-sassui-frame-wrapper Start*/
@import "@feizheng/webkit-sass-default-props/dist/index.scss";

.webkit-sassui-frame-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  @each $value in $list-object-fit {
    &[data-object-fit="#{$value}"] {
      > img {
        object-fit: $value;
      }
    }
  }
}
/*webkit-sassui-frame-wrapper End*/
